body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #181818;
    color: white;
}

h1, h2, h3 {
    color: #1DB954;
}

#player {
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    background: #282828;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #333;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

li:hover {
    background: #1DB954;
}
